@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Mono:ital,wght@1,100&display=swap');

* {
    margin: 0; 
    padding: 0;
    outline: 0;

}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,237,134,0.9181735682554272) 41%, rgba(0,212,255,1) 100%);
}

table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 300px;
    background: #fafafa;
    text-align: center;

}

th,td {
    padding: 12px 15px;
}

th {
    background: rgb(43,34,195);
    background: linear-gradient(0deg, rgba(43,34,195,1) 14%, rgba(45,253,95,0.730498498227416) 100%);;
    color: #fafafa;
    text-transform: uppercase;
    font-family: "roboto",sans-serif;
}

td {
    font-family: 'Open Sans', sans-serif;
}

tr:nth-child(odd) {
    background-color: rgb(169, 239, 195);
}